{% extends 'base.html' %}
{%load static%}

{%block title%}
Detail
{%endblock title%}

{% block content %}
<!-- Main Section -->
{% if contact.manager == request.user%}
<div class="container">
  <h2 class="heading font-weight-light text-center">{{contact.name}}</h2>
  <hr />
</div>
<div class="container main-part">
  <!-- Card for details -->
  {% include 'partials/_card.html' %}

</div>

<div class="container mt-3">
<h5 class="text-center my-3 font-weight-light">Date Added: &nbsp; {{contact.date_added}}</h5>
  <p class="text-center">
    <a href="{% url 'update' contact.id%}" class="btn btn-info px-5 mr-3">
      <i class="far fa-edit"></i> &nbsp; Update
    </a>
    <a href="{% url 'delete' contact.id%}" class="btn btn-danger px-5">
      <i class="fas fa-trash-alt"></i> &nbsp; Delete
    </a>
  </p>
</div>

{%else%}
<div class="container">
  <p class="">You have no access this page</p>
</div>

{%endif%}
<!-- Main Section ends-->

{% endblock content %}
